.production-kinds-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.production-kinds-list li {
  float: left;
  padding: 16px 16px 16px 30px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.production-kinds-list li:hover {
  cursor: pointer;
}

.loader {
  width: 30px;
  height: 30px;
  margin: 15px;
  color: #8893d1 !important;
}